@import './antd.css';
@font-face {
  font-family: "Barbie";
  src: url("./fonts/barbie.ttf");
  src: 
  url("./fonts/barbie.ttf") format("tff")
  }
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root{
   /* background: url('images/gradient.png'); 
   background-color: yellow;  */
   background: rgba(241,111,92,1);
background: -moz-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(255,154,158,1) 0%, rgba(250,208,196,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(255,154,158,1)), color-stop(100%, rgba(250,208,196,1)));
background: -webkit-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(255,154,158,1) 0%, rgba(250,208,196,1) 100%);
background: -o-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(255,154,158,1) 0%, rgba(250,208,196,1) 100%);
background: -ms-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(255,154,158,1) 0%, rgba(250,208,196,1) 100%);
background: linear-gradient(to right, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(255,154,158,1) 0%, rgba(250,208,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#fad0c4', GradientType=1 );
}
#root .ant-carousel .slick-slide{
  line-height: 0;
}
#root .ant-layout{
  background: transparent;
}
.carousel-image{
  height: 512px;
  width:100%;
}
@media only screen and (max-width: 768px) {

.carousel-image{
  height: 100%;
  width:100%;
}
}
.bg1{
  background:lightblue url('images/pic1.jpg') no-repeat fixed center;
  background-color: yellow; 
  
}
.bg2{
  background: url('images/p2.jpg');
  background-color: yellow; 
  
}
.bg3{
  background: url('images/p3.jpg');
  background-color: yellow; 
  
}
.mar-b-0{
  margin-bottom: 0px;
}
.mar-b-10{
  margin-bottom: 1em;
}
.mar-l-8{
  margin-left: .8em;
}
.mar-r-10{
  margin-right: 1em;
}
.mar-t-10{
  margin-top: 1em;
}
.mar-t-20{
  margin-top: 1em;
}
@media only screen and (min-width: 768px) {

.mar-t-100{
  margin-top: 10em;
}
}
.pad-t-20{
  padding-top: 2em;
}
.heading{
  text-decoration: underline;
  font-weight: bold;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.custom-para{
  text-indent: 2em;
}
.custom-header{
  text-align: center;
}
.contact-form textarea {
  resize: none;
}
.contact-form .contact-form-button{
  width: 100%;
}
.ant-menu.menuBar{
  background: #f8f9fa;
}
.contact-form .contact-form-button{
  margin-bottom: 2em;
}
.logo-style{
  display: block;
  text-align: center;
}
.navbar .ant-menu-horizontal{
  border-bottom:none; 
}
.content-style{
  padding: 2em;
}
.trivia-para{
  font-size: 18px;
}
.by-name{
  text-align: end;
  padding: 1em 2em;
}
.carousel-wrapper{
  position: relative;
}
.carousel-wrapper .anticon-right{
  position: absolute;
  right: 0;
  top:42%;
  font-size: 3em;
  cursor: pointer;
  color: white;
}
.carousel-wrapper .anticon-left{
  position: absolute;
  left: 0;
  top:42%;
  font-size: 3em;
  cursor: pointer;
  color: white;  
}
.bg{
  background: url('https://i.imgur.com/ZXBtVw7.jpg')
}
.font {
  font-family: 'barbie',sans-serif;
  
}
